.container-main {
    font-family: sans-serif;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.primary-container {
    height: 100vh;
    min-width: 80%;
    border-radius: 1rem;
    position: relative;
}

.primary-product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.product-gallery {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    z-index: 1;
}

.related-product-image {
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.product-gallery .related-product-image:first-child {
    margin-top: 0;
}
